In [1]:
import numpy as np
from scipy.stats import qmc
# idaes.surrogate.pysmo.sampling.
print(__doc__)
import numpy as np
np.random.seed(123)
from sklearn.model_selection import train_test_split
import pandas as pd
import shutil

Automatically created module for IPython interactive environment

In [2]:
tt = np.loadtxt("/home/smmrrr/Fog_Imaging_Project/images_wavelet_tansformed.csv",delimiter = ",")
tt.shape

(68972, 4292)

In [9]:
3000/tt.shape[0]

0.04349591138432987

In [3]:
photo_info = pd.read_csv('/home/smmrrr/Fog_Imaging_Project/all_photos_link.csv')

In [4]:
photo_info

                                  project_files_location      photo_size
0      746574512.Sat.Aug.28_21_48_32.GMT.1993.argus00...      (480, 640)
1      905736605.Mon.Sep.14_01_30_05.GMT.1998.argus00...   (480, 640, 3)
2      1151780400.Sat.Jul.01_19_00_00.GMT.2006.argus0...  (960, 1280, 3)
3      995580007.Thu.Jul.19_22_00_07.GMT.2001.argus00...   (480, 640, 3)
4      1560808800.Mon.Jun.17_22_00_00.GMT.2019.argus0...  (960, 1280, 3)
...                                                  ...             ...
68967  802803635.Sat.Jun.10_17_00_35.GMT.1995.argus00...      (480, 640)
68968  1408485600.Tue.Aug.19_22_00_00.GMT.2014.argus0...  (960, 1280, 3)
68969  842547625.Thu.Sep.12_17_00_25.GMT.1996.argus00...      (480, 640)
68970  966366006.Tue.Aug.15_19_00_06.GMT.2000.argus00...   (480, 640, 3)
68971  1159203600.Mon.Sep.25_17_00_00.GMT.2006.argus0...  (960, 1280, 3)

[68972 rows x 2 columns]

In [10]:
image_files_summary = photo_info['project_files_location'].str.split(r'[\.|\_]',expand = True)
image_files_summary.columns = ['number_id', 'weekday', 'month_abv', 'day', 'hour', 'min', 'second', 'tz', 'year', 'camera', 'camera_angle', 'image_capture_type', 'ext']
# image_files_summary['filename'] = image_files

photo_info = pd.concat([photo_info, image_files_summary], axis = 1 )

In [19]:
# df['DataFrame Column'] = df['DataFrame Column'].astype(int)
photo_info['day'] = pd.to_numeric(photo_info['day'])
photo_info['hour'] = pd.to_numeric(photo_info['hour'])
photo_info['min']= pd.to_numeric(photo_info['min'])

In [24]:
photo_info['hour_PST'] = photo_info['hour'] - 8
photo_info.loc[photo_info['hour_PST'] < 0, 'hour_PST'] = 24 + photo_info['hour_PST']

In [25]:
photo_info['hour_PST'].describe()

count    68972.000000
mean        12.274720
std          4.261195
min          5.000000
25%          9.000000
50%         12.000000
75%         16.000000
max         22.000000
Name: hour_PST, dtype: float64

In [27]:
photo_info.loc[photo_info['hour_PST'].isin([4,5, 6, 21, 22, 20])]

,project_files_location,photo_size,number_id,weekday,month_abv,day,hour,min,second,tz,year,camera,camera_angle,image_capture_type,ext,hour_PST
5,901371605.Sat.Jul.25_13_00_05.GMT.1998.argus00...,"(480, 640, 3)",901371605,Sat,Jul,25,13,0,05,GMT,1998,argus00,c0,snap,jpg,5
9,743870192.Wed.Jul.28_14_36_32.GMT.1993.argus00...,"(480, 640)",743870192,Wed,Jul,28,14,36,32,GMT,1993,argus00,c0,snap,jpg,6
11,903187806.Sat.Aug.15_13_30_06.GMT.1998.argus00...,"(480, 640, 3)",903187806,Sat,Aug,15,13,30,06,GMT,1998,argus00,c0,snap,jpg,5
12,1027692007.Fri.Jul.26_14_00_07.GMT.2002.argus0...,"(480, 640, 3)",1027692007,Fri,Jul,26,14,0,07,GMT,2002,argus00,c0,snap,jpg,6
35,866354413.Sun.Jun.15_06_00_13.GMT.1997.argus00...,"(480, 640)",866354413,Sun,Jun,15,6,0,13,GMT,1997,argus00,c0,snap,jpg,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68923,1493647200.Mon.May.01_14_00_00.GMT.2017.argus0...,"(960, 1280, 3)",1493647200,Mon,May,1,14,0,00,GMT,2017,argus00,c0,snap,jpg,6
68928,1407074400.Sun.Aug.03_14_00_00.GMT.2014.argus0...,"(960, 1280, 3)",1407074400,Sun,Aug,3,14,0,00,GMT,2014,argus00,c0,snap,jpg,6
68949,1057896006.Fri.Jul.11_04_00_06.GMT.2003.argus0...,"(480, 640, 3)",1057896006,Fri,Jul,11,4,0,06,GMT,2003,argus00,c0,snap,jpg,20
68956,811490418.Tue.Sep.19_06_00_18.GMT.1995.argus00...,"(480, 640)",811490418,Tue,Sep,19,6,0,18,GMT,1995,argus00,c0,snap,jpg,22
68960,903704406.Fri.Aug.21_13_00_06.GMT.1998.argus00...,"(480, 640, 3)",903704406,Fri,Aug,21,13,0,06,GMT,1998,argus00,c0,snap,jpg,5

In [58]:
photo_info.loc[photo_info['project_files_location'] == '779004018.Thu.Sep.08_06_00_18.GMT.1994.argus00.c0.snap.jpg']
photo_info.loc[photo_info['project_files_location'] == '778946434.Wed.Sep.07_14_00_34.GMT.1994.argus00.c0.snap.jpg']
photo_info.loc[photo_info['project_files_location'] == '1285124399.Wed.Sep.22_02_59_59.GMT.2010.argus00.c0.snap.jpg']

,project_files_location,photo_size,number_id,weekday,month_abv,day,hour,min,second,tz,year,camera,camera_angle,image_capture_type,ext,hour_PST
61135,1285124399.Wed.Sep.22_02_59_59.GMT.2010.argus0...,"(960, 1280, 3)",1285124399,Wed,Sep,22,2,59,59,GMT,2010,argus00,c0,snap,jpg,18

In [59]:
print(tt[11303,:].sum())
print(tt[61135,:].max())

76.41513933657546
0.12644107935587257

In [48]:
max_vals = tt.max(axis = 1)

In [52]:
print('min', max_vals.min())
# print('median', max_vals.median())
print('mean', max_vals.mean())
print('max', max_vals.max())
# print('min', max_vals.min())
# print('min', max_vals.min())

min 0.058288572737832695
mean 1.9170249802022399
max 2.5428256306304373

In [60]:
print(len(max_vals[max_vals<0.9])/len(max_vals))
np.where(max_vals<0.9)

0.01715188772255408

(array([    6,     9,    35, ..., 68755, 68846, 68947]),)

In [61]:
max_vals[6]

0.18711964742772508

In [63]:
screened = photo_info.loc[np.where(max_vals<0.9)]

In [70]:
screened.loc[screened['project_files_location'] == '1304902800.Mon.May.09_01_00_00.GMT.2011.argus00.c0.snap.jpg']
len(screened)

1183

In [ ]:
keep = photo_info.loc[np.where(max_vals<0.9)]

In [67]:
X_train, X_test = train_test_split(np.array(photo_info.index),
        test_size=0.95, random_state=42)

In [68]:
len(X_train)

3448

In [69]:
X_train[X_train.isin(np.where(max_vals<0.9))]

AttributeError: 'numpy.ndarray' object has no attribute 'isin'

In [34]:
label_paths = photo_info.loc[X_train, 'project_files_location']

In [35]:
# photo_info.loc[0, 'project_files_location']

In [32]:
shutil.copy('/home/smmrrr/Fog_Imaging_Project/image_data/'+'746574512.Sat.Aug.28_21_48_32.GMT.1993.argus00.c0.snap.jpg', 
             '/home/smmrrr/Fog_Imaging_Project/label_image_data/'+'746574512.Sat.Aug.28_21_48_32.GMT.1993.argus00.c0.snap.jpg', 
             follow_symlinks=True)

'/home/smmrrr/Fog_Imaging_Project/label_image_data/746574512.Sat.Aug.28_21_48_32.GMT.1993.argus00.c0.snap.jpg'

In [7]:
# https://idaes-pse.readthedocs.io/en/1.5.1/surrogate/pysmo/pysmo_lhs.html

# pysmo.sampling.LatinHypercubeSampling(tt, 10, sampling_type="selection")

In [37]:

for file in label_paths:
    shutil.copyfile('/home/smmrrr/Fog_Imaging_Project/image_data/'+file, 
             '/home/smmrrr/Fog_Imaging_Project/label_image_data/'+file, 
             follow_symlinks=True)

ERROR! Session/line number was not unique in database. History logging moved to new session 218